@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    /* --font-heading: "Rubik Mono One", monospace; */
    --font-heading: "Rubik", sans-serif;
    --font-body: "Overpass", sans-serif;
    --color-purple: #A176F1;
    --color-gray: #9f9fa8;
    --color-light-mode: #F4F4F5;
    --color-body: #0A0A0A;
    --color-dark-mode: #131313;
}